.Home {
    text-align: center;
}

.Home_btn {
    background-color: #ffa500;
    color: #fff;
    border: none;
    border-radius: 5em;
    height: 2.8em;

    margin: 5em 0.5em 3em;
    padding: 0 1.8em;

    font-size: medium;
    font-weight: 700;
}
.Home_btn:hover {
    background-color: #c78023;
}
